<div id="modal" class="hide">
    <div class="content">
    <div class="header">
      <h1>  pontos de coleta</h1>
      <a href="#">Fechar</a>

    </div>
    <form action="/search">
        <label for="search">Cidade</label>
        <div class="search field">
            <input type="text " name="Search"
            placeholder="digite a cidade aqui "
            >
            <button> 
                <img src="/assets/search.svg" alt="procurar">
            </button>
        </div>
    </form>
    </div>
     </div>